name: Gatsby Publish

on:
  push:
    branches:
      [ main ]
  pull_request:
    types: [ opened, synchronize, reopened ]
  schedule: ## Do a run daily, to refresh website content
    - cron: '0 3 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: site

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm run test
        env:
          CI: true
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build
        env:
          NODE_ENV: production
          GATSBY_ACTIVE_ENV: production
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PREFIX_PATHS: true
      - run: npm run test:int
        env:
          CI: true
      - name: Store PR id
        run: echo ${{ github.event.number }} > ./public/pr-id.txt
      - name: Publishing directory for PR preview
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: ./site/public
          retention-days: 3
  deploy:
    # Only try and deploy on merged code
    if: "github.repository == 'quarkiverse/quarkiverse' && github.ref_name == 'main' && (github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')"
    needs: [ unit-test, build ]
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # not needed for the code, but needed for the git config
      - name: Download Built site
        uses: actions/download-artifact@v4
        with:
          name: site
          path: site
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: site # The folder the action should deploy.
  check-external-links:
    # Only check external links on merged code
    if: "github.repository == 'quarkiverse/quarkiverse' && github.ref_name == 'main' && (github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')"
    needs: [ unit-test, build ]
    runs-on: ubuntu-latest
    permissions:
      issues: write
      repository-projects: read
      statuses: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: "npm" # this only caches global dependencies
      - run: npm ci --prefer-offline
      - name: Download Built Artifact
        uses: actions/download-artifact@v4
        with:
          path: ./site/public/
          name: site
      - run: npm run test:links
        continue-on-error: true # problems will be tracked by defects raised by the next job, not by build failures
        env:
          CI: true
          PATH_PREFIX: "${{ github.ref_name == 'main' && 'quarkiverse' || '' }}"
          PATH_PREFIX_FLAG: "${{ github.ref_name == 'main' && '--prefix-paths' || '' }}"
      - name: Raise defects if needed
        uses: jbangdev/jbang-action@v0.111.0
        with:
          script: site/site-validation/dead-link-issue.java
          scriptargs: token=${{ secrets.GITHUB_TOKEN }} issueRepo=${{ github.repository }}  runId=${{ github.run_id }} siteUrl=https://hub.quarkus.io/